<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @faction.title %>
</p>

<p>
  <strong>Title rus:</strong>
  <%= @faction.title_rus %>
</p>

<p>
  <strong>Body:</strong>
  <%= @faction.body %>
</p>

<p>
  <strong>Country:</strong>
  <%= @faction.country_id %>
</p>

<%= link_to 'Edit', edit_faction_path(@faction) %> |
<%= link_to 'Back', factions_path %>
