<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @paper.body %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @paper.tag %>
</p>

<p>
  <strong>Character:</strong>
  <%= @paper.character_id %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @paper.faction_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @paper.country_id %>
</p>

<p>
  <strong>Race:</strong>
  <%= @paper.race_id %>
</p>

<p>
  <strong>Family:</strong>
  <%= @paper.family_id %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
