<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @country.title %>
</p>

<p>
  <strong>Title rus:</strong>
  <%= @country.title_rus %>
</p>

<p>
  <strong>Body:</strong>
  <%= @country.body %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @country.capital_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @country.type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @country.parent_id %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
