<nav>
    <%= link_to 'Главная', root_path %>
    <%= link_to 'Новости', posts_path %>
    <%= link_to 'Документы', papers_path %>
    <%= link_to 'Расы', races_path %>
    <%= link_to 'Персонажи', characters_path %>
    <%= link_to 'Фракции', factions_path %>
    <%= link_to 'Страны', countries_path %>
    
<!--
    <%= link_to 'rahai', root_path %>
    <%= link_to 'marida', posts_path %>
    <%= link_to 'alfar', papers_path %>
    <%= link_to 'hatta', races_path %>
    <%= link_to 'merta', characters_path %>
    <%= link_to 'noræta', factions_path %>
    <%= link_to 'ranta', countries_path %>
-->
</nav>