<!DOCTYPE html>
<html>
  <head>
    <title>Magenta4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  </head>

  <body>
    <%= render '/layouts/navigator' %>
    <%= yield %>
  </body>
</html>
